/*Splitting up css for a better overview*/
@import "variables.css";
@import "common.css";

@import "components/header.css";
@import "components/buttons.css";
@import "components/footer.css";
@import "components/hero.css";
@import "components/cards.css";
@import "components/forms.css";
@import "components/modal.css";

.movie-lists {
    margin-top: 1rem;

    div {
        margin-top: 1rem;

        &.card-scroll-list {
            overflow: auto;
            display: flex;
            gap: 1rem;
            padding-bottom: 1rem;
            margin-bottom: 1rem;

            &::-webkit-scrollbar {
                height: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--color-primary);
                border-radius: 5px;
            }

            &::-webkit-scrollbar-thumb:hover {
               background: var(--color-secondary);
            }
        }

        &.card-list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 1rem;

            .card {
                min-width: 0;
                margin-top: 0;
            }
        }
    }

    select {
        padding: .5rem;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
    }
}

.profile-picture {
    width: 120px;
    height: 120px;
    margin-bottom: 1rem;
}

.no-scroll {
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .movie-lists {
        div {
            &.card-scroll-list {
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .movie-lists {
        div {
            &.card-list {
                grid-template-columns: repeat(2, 1fr);

                .card {
                    max-width: 1000px;
                }
            }
        }
    }
}

.error {
    color: red;
}