.card {
    max-width: 300px;
    min-width: 300px;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;

    &:hover {
        img {
            transform: scale(1.1);
        }
    }

    img {
        transition: .3s;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16/9;
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    .card {
        max-width: 142px;
        min-height: 178px;
        min-width: 142px;
    }
}